<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../stylesheets/style.css">
    <title>Login</title>
</head>
<body>

    <div class="wrapper">

        {{!-- <a href="#login-popup" class="btn_login">Log in</a>
        <a href="#register-popup" class="btn_register">Registration</a> --}}

        <div id="login-popup" class="login-popup">
                <div class="login-popup__body">
                    <div class="login-popup__content">
                        <div class="popup-title">Login</div>
                        <div class="popup-text">
                            <form action="/" method="POST">
                                <input type="text" placeholder="login" id="input-login" name="username">
                                <input type="password" placeholder="password" id="input-password" name="password"><br/>
                                <button type="submit" id="login-submit">send</button>
                            </form>
                        </div>
                        <a href="/register" class="login-popup__close popup-close">Don't have an account</a>
                    </div>
                </div>
            </div>

    </div>

    </div>

</body>
</html>